/* global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EB Garamond';
  /* font-family: 'Cormorant Garamond'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundFix {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionText {
  font-size: 25px;
  line-height: 1.2em;
  color : rgba(255,255,255,.6);
}
.descriptionText2 {
  font-size: 20px;
  line-height: 1.3em;
  /* color : rgba(0,0,0,.8); */
  color : #666;
  font-family: cursive;
}
.heading2{
  color : #333;
  font-family: cursive;
  font-weight: 400;
}

/* variables */
/* rgb(252, 78, 0, 1); */
:root {
  --iconColor : orange;
  --shade : rgb(0,0,0,.3);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color : whitesmoke;
  transition: .5s all ease;
}
.container {
  width : 90%;
  margin : auto;
}
.icon {
  color : var(--iconColor);
  margin-right: 5px;
  transition: .5s all ease;
}
.iconFlat {
  font-size: 50px;
  transition: .5s all ease;
}
button {
  transition: .5s all ease;
  cursor: pointer;
}
.button button{
  outline : none;
  border: none;
  background-color : var(--shade);
  font-size: 16px;
  color : whitesmoke;
  padding : 15px;
  border : 1px solid #999;
}
.button2 button{
  outline : none;
  border: 1px solid var(--iconColor);
  background-color : transparent;
  font-size: 13px;
  color : #333;
  padding : 7px;
}
.button button:hover, .button2 button:hover {
  background-color: var(--iconColor);
  color : whitesmoke;
}





/* top section styles */

.homeSectionContainer {
  transition: 1.3s all ease;
  position: relative;
  background-image: url(/images/HomeBg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

.homeSectionContainer::before  {
  position: absolute;
  content: '';
  top : 0; left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  
}
/* navigation styles */
.navContainer {
  position: relative;
  border-bottom: 1px solid #999;
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: var(--shade);
  overflow: hidden;
}
.homeLink{
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.homeLink span:last-child{
  display: block;
}
nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  font-size: 20px;
  text-align: center;
  padding : 7px;
  color : whitesmoke;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav ul li {
  display: inline;
  margin-right: 35px;
}
nav ul li a:hover {
  color : var(--iconColor);
}

.cart span {
  margin : 6px;
}
/* .cart span:last-child {
  border-radius: 50%;
  background-color: var(--iconColor);
  padding : 2px 7px;
} */

.introTextContainer {
  position: absolute;
  z-index: 1;
  color : whitesmoke;
  top : 25%;
  text-align: center;
  width: 100%;
  margin : auto;
}
.introTextContainer h1, #showCase{
  transition: 1.3s all ease;
  font-weight: 500;
  font-size: 48px;
  animation: fadeIn 1.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.introTextContainer p {
  font-size: 26px;
  width: 65%;
  margin : auto;
}

.buttonContainer {
  margin : 50px 0px 50px 0px;
  border-radius: 5px;
}
.buttonContainer div{
  display: inline;
  margin : 10px;
}

/* quick contact section style */

.quickContactContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding : 50px 10%;
  background-color: #000;
  color : rgba(255,255,255,.7);
  font-family: cursive;
}
.quickContactContainer p {
  width: 70%;
  margin : auto;
}
.quickContactContainer h3 {
  font-weight: 400;
}


/* Quickservices section styles */

.quickServicesContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding : 60px 70px;
  gap: 20px;
}
.quickServicesContent:hover .iconFlat {
  transform: rotate(360deg);
}
.quickServicesContent {
  cursor: pointer;
}
.quickServicesIconContainer {
  width: 100px;
  height: 100px;
  margin : auto;
  border-radius: 50%;
  background-color: var(--iconColor);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Story section style */
/* decided not to use this style anymore, opted for <Welcom /> */

/* .storyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin : 10px auto 100px auto;
}

.storySideImage {
  height: 600px;
  background-image: url(/images/welcomeBg1.jpg);
}
.storyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  margin-left: -70%;
  background-color: rgba(0,0,0,.7);
}
.storyContent p{
  width: 70%;
  margin : 0px auto;
}  */


/* welcome section */

.welcomeContainer {
  position: relative;
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 1fr;
}
.welcomeContainer::before {
  position: absolute;
  content : '';
  top: 0;left: 0;
  width : 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
}
.welcomeRight {
  /* background-color: rgba(0,0,0); */
  background-image: url(/images/welcomeBg1.jpg);
}


.welcomeContentWrapper {
  /* padding : 5%; */
  position: absolute;
  top : 15%;
  left : 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  background-color: rgba(0,0,0,.7);
  padding : 60px 0px;
  border-radius: 10px;
}
.welcomeContentWrapper h1 {
  color : rgba(255,255,255,.9);
  font-family: cursive;
  font-weight: 400;
}
.welcomeContentWrapper p {
  margin: 0px !important;
}
.welcomeContentWrapper .descriptionText {
  width: 80%;
  padding : auto;
}


/* quick menu section style */

.quickMenuContainer {
  margin : 100px 0px;
}

.quickMenuHeader {
  text-align: center;
  width: 50%;
  margin : auto;
  margin-bottom: 40px;
}
.quickMenuHeader span {
  /* color : var(--iconColor); */
  font-size: 70px;
}

.quickMenuItemsContainer {
  text-align: center;
  width: 85%;
  margin : auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.quickMenuItemsContainer .QuickMenuItemBg {
  width: 100%;
  height: 400px;
  transition: 1.4s all ease;
}