/* global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'EB Garamond';
  /* font-family: 'Cormorant Garamond'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundFix {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionText {
  font-size: 25px;
  line-height: 1.2em;
  color : rgba(255,255,255,.6);
}

/* variables */
/* rgb(252, 78, 0, 1); */
:root {
  --iconColor : orange;
  --shade : rgb(0,0,0,.3);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color : whitesmoke;
  transition: .5s all ease;
}
.container {
  width : 90%;
  margin : auto;
}
.icon {
  color : var(--iconColor);
  margin-right: 5px;

}
button {
  transition: .5s all ease;
  cursor: pointer;
}
.button button{
  outline : none;
  border: none;
  background-color : var(--shade);
  font-size: 16px;
  color : whitesmoke;
  padding : 15px;
  border : 1px solid #999;
}
.button button:hover {
  background-color: var(--iconColor)
}





/* top section styles */

.homeSectionContainer {
  transition: 1.3s all ease;
  position: relative;
  background-image: url(/images/HomeBg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

.homeSectionContainer::before  {
  position: absolute;
  content: '';
  top : 0; left: 0;
  background-color: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  
}
/* navigation styles */
.navContainer {
  position: relative;
  border-bottom: 1px solid #999;
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: var(--shade);
  overflow: hidden;
}
.homeLink{
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
.homeLink span:last-child{
  display: block;
}
nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
  margin-top: 15px !important;
  margin-bottom: 5px !important;
  font-size: 20px;
  text-align: center;
  padding : 7px;
  color : whitesmoke;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav ul li {
  display: inline;
  margin-right: 35px;
}
nav ul li a:hover {
  color : var(--iconColor);
}

.cart span {
  margin : 6px;
}
/* .cart span:last-child {
  border-radius: 50%;
  background-color: var(--iconColor);
  padding : 2px 7px;
} */

.introTextContainer {
  position: absolute;
  z-index: 1;
  color : whitesmoke;
  top : 25%;
  text-align: center;
  width: 100%;
  margin : auto;
}
.introTextContainer h1, #showCase{
  transition: 1.3s all ease;
  font-weight: 500;
  font-size: 48px;
  animation: fadeIn 1.3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.introTextContainer p {
  font-size: 26px;
  width: 65%;
  margin : auto;
}

.buttonContainer {
  margin : 50px 0px 50px 0px;
  border-radius: 5px;
}
.buttonContainer div{
  display: inline;
  margin : 10px;
}

















/* welcome section */

.welcomeContainer {
  position: relative;
  display: grid;
  height: 450px;
  grid-template-columns: 1fr 1fr;
}
.welcomeRight {
  /* background-color: rgba(0,0,0); */
  background-image: url(/images/welcomeBg1.jpg);
}


.welcomeContentWrapper {
  /* padding : 5%; */
  position: absolute;
  top : 10%;
  left : 20%;
  text-align: center;
  color : whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  background-color: rgba(0,0,0,.7);
  padding : 20px 0px;
  border-radius: 10px;
}
.welcomeContentWrapper p {
  margin: 0px !important;
}
.welcomeContentWrapper .descriptionText {
  width: 80%;
  padding : auto;
}






