/* global styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* font-family: 'EB Garamond'; */
  font-family: "Baloo Thambi 2", cursive;
  /* font-family: "Handlee", cursive; */
  /* font-family: 'Cormorant Garamond'; */
  /* font-family: cursive; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.backgroundFix {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionText {
  font-size: 23px;
  line-height: 1.2em;
  color: rgba(255, 255, 255, 0.6);
}
.descriptionText2 {
  font-size: 20px;
  line-height: 1.3em;
  /* color : rgba(0,0,0,.8); */
  color: #666;
  /* font-family: cursive; */
}
.heading2 {
  color: #333;
  /* font-family: cursive; */
  font-weight: 400;
}

/* variables */
/* rgb(252, 78, 0, 1); */
:root {
  --iconColor: orange;
  --shade: rgb(0, 0, 0, 0.3);
}

.active {
  color: var(--iconColor);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: whitesmoke;
  transition: 0.5s all ease;
}
.container {
  width: 90%;
  margin: auto;
}
.icon {
  color: var(--iconColor);
  margin-right: 5px;
  transition: 0.5s all ease;
}
.iconFlat {
  font-size: 50px;
  transition: 0.5s all ease;
}
button {
  transition: 0.5s all ease;
  cursor: pointer;
}
.button button {
  outline: none;
  border: none;
  background-color: var(--shade);
  font-size: 16px;
  color: whitesmoke;
  padding: 15px;
  border: 1px solid rgba(255, 165, 0, 0.3);
}
.button2 button {
  outline: none;
  border: 1px solid var(--iconColor);
  background-color: transparent;
  font-size: 13px;
  color: #333;
  padding: 7px;
}
.button button:hover,
.button2 button:hover,
form button:hover {
  background-color: var(--iconColor);
  color: whitesmoke;
}
.button button:active,
.button2 button:active,
form button:active {
  filter: brightness(50%);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: whitesmoke;
  opacity: 1; /* Firefox */
  /* font-family: cursive; */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: whitesmoke;
  /* font-family: cursive; */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: whitesmoke;
  /* font-family: cursive; */
}

::selection {
  background: var(--iconColor); /* WebKit/Blink Browsers */
  color: #333;
}
::-moz-selection {
  background: var(--iconColor); /* Gecko Browsers */
  color: #333;
}

/* top section styles */

.homeSectionContainer {
  transition: 1.3s all ease;
  position: relative;
  background-image: url(/images/vidBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 100%;
}

.homeSectionContainer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
}
/* navigation styles */
.navContainer {
  position: fixed;
  border-bottom: 1px solid rgba(255, 165, 0, 0.3);
  top: 0px;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  /* overflow: hidden; */
}
.navContainer #home {
  /* color : var(--iconColor); */
}
.homeLink {
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}
/* .homeLink span:last-child {
  display: block;
} */
nav {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-gap: 10px;
  margin-bottom: 5px !important;
  font-size: 20px;
  text-align: center;
  padding: 7px;
  padding-top: 15px;
  color: whitesmoke;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
nav ul li {
  display: inline;
  margin-right: 35px;
  transition: 0.5s all ease;
}
nav ul li:hover {
  color: var(--iconColor);
}

.cart span {
  margin: 6px;
  cursor: pointer;
}
.menuIcon {
  display: none !important;
}
/* .cart span:last-child {
  border-radius: 50%;
  background-color: var(--iconColor);
  padding : 2px 7px;
} */

.introTextContainer {
  position: absolute;
  z-index: 1;
  color: whitesmoke;
  top: 25%;
  text-align: center;
  width: 100%;
  margin: auto;
}
.introTextContainer h1,
#showCase {
  transition: 1.3s all ease;
  font-weight: 500;
  font-size: 48px;
  animation: fadeIn 1.3s;
}
/* to fade in elements */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* to fade out elements */

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.introTextContainer p {
  font-size: 20px;
  width: 65%;
  margin: auto;
}
.introTextContainer h1 {
  width: 90%;
  margin: 10px auto;
}

.buttonContainer {
  margin: 50px 0px 50px 0px;
  border-radius: 5px;
}
.buttonContainer div {
  display: inline;
  margin: 10px;
}

/* quick contact section style */

.quickContactContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 50px 10%;
  background-color: #000;
  color: rgba(255, 255, 255, 0.7);
  /* font-family: cursive; */
}
.quickContactContainer a:hover,
.quickContactLinks p:hover {
  color: var(--iconColor);
}
.quickContactContainer p {
  width: 70%;
  margin: auto;
}
.quickContactContainer h3 {
  font-weight: 400;
}

/* Quickservices section styles */

.quickServicesContainer {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 60px 70px;
  gap: 20px;
}
.quickServicesContent:hover .iconFlat {
  transform: rotate(360deg);
}
.quickServicesContent {
  cursor: pointer;
}
.quickServicesIconContainer {
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  background-color: var(--iconColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Story section style */
/* decided not to use this style anymore, opted for <Welcom /> */

/* .storyContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin : 10px auto 100px auto;
}

.storySideImage {
  height: 600px;
  background-image: url(/images/welcomeBg1.jpg);
}
.storyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  margin-left: -70%;
  background-color: rgba(0,0,0,.7);
}
.storyContent p{
  width: 70%;
  margin : 0px auto;
}  */

/* welcome section */

.welcomeContainer {
  position: relative;
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 1fr;
}
.welcomeContainer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.welcomeRight {
  /* background-color: rgba(0,0,0); */
  background-image: url(/images/welcomeBg1.jpg);
}

.welcomeContentWrapper {
  position: absolute;
  top: 15%;
  left: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 60px 0px;
  border-radius: 10px;
}
.welcomeContentWrapper h1 {
  color: rgba(255, 255, 255, 0.9);
  /* font-family: cursive; */
  font-weight: 400;
}
.welcomeContentWrapper p {
  margin: 0px !important;
}
.welcomeContentWrapper .descriptionText {
  width: 80%;
  padding: auto;
}

/* quick menu section style */

.quickMenuContainer {
  margin: 100px 0px;
}

.quickMenuHeader {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.quickMenuHeader span {
  /* color : var(--iconColor); */
  font-size: 70px;
}

.quickMenuItemsContainer {
  text-align: center;
  width: 85%;
  margin: auto;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.quickMenuItemsContainer .QuickMenuItemBg {
  width: 100%;
  height: 400px;
  transition: 1.4s all ease;
}

/* presentation setion style */

.presentation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: auto;
  gap: 40px;
}
.block-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.presentationDescription .heading2 {
  font-size: 40px !important;
}
.presentation .presentationDescription p {
  font-size: 20px;
  padding-top: 20px;
}

/* video section style */
.videoBg {
  height: 100%;
  width: 100%;
  background-image: url(/images/food2.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
  position: relative;
  margin-top: 50px;
}
.videoBg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.videoBg .vidDescription {
  position: relative;
  padding-bottom: 70px;
}
.vidDescription h1 {
  font-size: 30px;
  /* font-family: cursive; */
  font-weight: 400 !important;
}
.vidDescription .icon-play2 {
  font-size: 50px !important;
  color: var(--iconColor);
  cursor: pointer;
}

.vidOverflow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer {
  width: 75%;
  height: 75%;
}
.videoContainer video {
  width: 100%;
  height: 100%;
  outline-color: var(--iconColor);
}
.cancelBtn {
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 20px;
  font-weight: 400;
  transition: 0.5s all ease;
  cursor: pointer;
}

.cancelBtn:hover {
  color: var(--iconColor);
}

/* make a reservation section style */

.reservationsFormContainer {
  position: relative;
  background-image: url(/images/reserve.jpg);
  margin-top: 200px;
}
.reservationsFormContainer * {
  color: whitesmoke;
}
.reservationsFormContainer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.reservationsFormWrapper {
  width: 60%;
  margin: auto;
  padding: 100px 10px;
  position: relative;
}
.reservationHeader {
  width: 60%;
  margin: auto;
  text-align: center;
}
.reservationHeader h1 {
  margin: 0;
}
.reservationHeader span,
.quickMenuHeader h1 span,
.presentationDescription h1 span,
.contactHeader h1 span,
.highlight {
  background-color: var(--iconColor);
  color: #333;
  padding: 2px;
  font-size: inherit;
}

form .formGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  margin-top: 60px;
  /* font-family: cursive; */
}
form label {
  display: block;
  margin-bottom: 5px;
}
form input,
select {
  width: 100%;
  padding: 15px;
  outline-color: var(--iconColor);
  background-color: transparent;
  border: 1px solid grey;
  transition: 0.2s all ease;
}
select option {
  background-color: #333;
}
form input:focus,
form select:focus {
  border-color: var(--iconColor);
  outline: none;
}
form button {
  /* i intentionally re-wrote the global button style (with lil changes of-course :)*/
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 15px;
  border: 1px solid rgba(255, 165, 0, 0.3);
}
form .centered {
  margin: 40px;
}

/* blog section style */

.blogsWrapper {
  padding: 10%;
  /* font-family: cursive; */
}
.blogsWrapper .centered {
  margin-bottom: 50px;
}
.blogsWrapper .centered .heading2 {
  position: relative;
  padding-top: 5px;
  font-size: 40px;
}
.blogsWrapper .centered .heading2::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border-top: 3px solid var(--iconColor);
  height: 100%;
  width: 40%;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.blogs .heading2 a {
  color: #333;
}
.blogs .heading2 a:hover {
  color: var(--iconColor);
}
.blogImg {
  width: 100%;
  transition: 0.5s all ease;
}
.blogImgCover {
  overflow: hidden;
}

.blogImg:hover {
  transform: scale(1.2);
}

.blogs ul {
  display: flex;
}
.blogs ul li {
  margin-right: 15px;
  color: rgb(179, 179, 179);
  font-size: 16px;
}
.blogs * a {
  color: var(--iconColor);
}
.blogs p > a {
  font-size: 18px;
}
.blogs .descriptionText2 {
  /* font-size: 18px; */
}

/* Insta Posts section style */

.instaPostsContainer {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.instaHeader {
  text-align: center;
  margin-bottom: 50px;
}
.instaHeader p {
  width: 50%;
  margin: auto;
}
.grid-1,
.grid-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
}
.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
.instaPostsWrapper .instaBg {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.iconOverlay {
  position: absolute;
  top: 0;
  display: none;
  justify-content: center; /*left to right*/
  align-items: center; /*top to buttom*/
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.instaBg:hover .iconOverlay {
  animation: 0.5s colorEffect;
  display: flex;
  /* background-color: rgb(255,165,0,.3); */
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 10px;
}
.iconOverlay .iconFlat {
  border: 2px dotted whitesmoke;
  border-radius: 50%;
  padding: 7%;
  background: transparent;
  color: var(--iconColor);
}
.split .iconFlat {
  font-size: 25px;
  padding: 14%;
}

@keyframes colorEffect {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* contact us section styles */

.contactContainer {
  width: 85%;
  margin: auto;
  margin-bottom: 100px;
}

.contactHeader {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.contactHeader h1::first-letter {
  border-bottom: 3px solid var(--iconColor);
}

.contactImage {
  width: 100%;
  height: 60%;
  background-image: url(/images/food2.jpg);
  border-radius: 10px;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.qcl {
  margin-top: 30px;
}
.qcl .descriptionText2 {
  font-size: 17px;
}
.formGrid .quickContactLinks .qcl div * {
  display: inline;
}
.formGrid .quickContactLinks .qcl div {
  margin-top: 30px;
}
.formGrid div div .icon {
  font-size: 18px;
  margin-right: 20px;
  border: 1px solid var(--shade);
  padding: 12px;
}
.formGrid input {
  margin-bottom: 10px;
}
.formGrid .contactForm .centered button {
  display: block;
}
.formGrid button {
  width: 100%;
  color: whitesmoke;
  background-color: var(--iconColor);
  margin-top: 20px;
}
form textarea {
  width: 100%;
  min-height: 170px;
  max-height: 210px;
  margin-top: 20px;
  resize: vertical;
  outline-color: var(--iconColor);
  padding: 10px;
}
.form .contactForm label {
  margin-bottom: 20px;
}

.formGrid input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey;
  opacity: 1; /* Firefox */
  /* font-family: cursive; */
}

.formGrid input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
  /* font-family: cursive; */
}

.formGrid input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
  /* font-family: cursive; */
}

/* Meet our employees style section */

.meetContentWrapper {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
.meetHeader {
  margin-bottom: 50px;
}
.meetHeader .styledHeader {
  color: var(--iconColor);
  font-weight: 400;
  margin-bottom: 0px;
}
.meetHeader .heading2 {
  margin-top: -20px;
}

.employeeContentWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.employeeContentWrapper .staffImage {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.employeeContainer .staffLinks {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #333;
  transition: 0.5s all ease;
}

.employeeContainer .staffLinks ul {
  padding-top: 20px;
}
.employeeContainer .staffLinks ul li {
  padding: 10px;
}
.employeeContentWrapper .icon {
  color: whitesmoke;
}
.employeeContentWrapper .icon:hover {
  color: var(--iconColor);
}

.staffIdentity {
  display: flex;
  justify-content: space-between;
}

/* footer section style */

.footerSection hr {
  border: 0.1px solid rgb(255, 165, 0, 0.3);
  width: 80%;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  text-align: center;
  background-color: #333;
}
footer .descriptionText2,
footer .icon {
  color: whitesmoke;
}
footer .icon {
  margin-right: 25px;
}
footer .footerSocialLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  display: inline;
}
.waterMark a,
.waterMark span {
  color: var(--iconColor);
}
footer ul li:hover a {
  color: var(--iconColor);
}

/* Single pages style sections */

.menuPage::before,
.aboutPage::before,
.blogPage::before,
.contactPage::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

/* aboutPage */
.aboutPage #about,
.menuPage #menu,
.blogPage #blogs,
.contactPage #contact {
  color: var(--iconColor);
}
.aboutPage {
  position: relative;
  background-image: url(/images/vidBg.jpg);
  width: 100%;
  height: 600px;
}
.aboutPageWrapper .meetContentWrapper {
  margin-top: 100px;
}

/* menuPage */
.menuPage {
  position: relative;
  background-image: url(/images/food2.jpg);
  width: 100%;
  height: 600px;
}
.menu {
  width: 90%;
  margin: auto;
}
.menu .menuHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menuHeader .menuButtons button {
  margin-right: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}
.menuItemsWrapper {
  margin-top: 60px;
  margin-bottom: 150px;
}
.menuItemsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.menuItemsWrapper .menuItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menuItemsWrapper .menuDetails {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menuDetails .descriptionText2 {
  font-size: 15px;
}
.menuDetails h3 {
  margin-top: 0px;
}
.menuDetails h4 {
  color: var(--iconColor);
}
.menuItem .menuImage {
  width: 100%;
  height: 200px;
  border-radius: 3px;
}

/* blogPage */

.blogPage {
  position: relative;
  background-image: url(/images/blogPageBg.jpg);
  width: 100%;
  height: 600px;
}

/* contactPage */

.contactPage {
  position: relative;
  background-image: url(/images/homeBg1.jpg);
  width: 100%;
  height: 600px;
  margin-bottom: 150px;
}

.page .pageMapContainer {
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}
.pageMaps {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  /* padding: 50px 200px; */
  min-width: 70%;
}
.pageMaps .prevPage {
  cursor: pointer;
  color: var(--iconColor);
}
.pageMaps span {
  margin: 10px;
}

/* responsive sytle section */
@media (min-width: 1001px) {
  .navigation {
    display: block;
  }
}

@media (max-width: 1000px) {
  /* navigation styles */
  .homeLink {
    font-size: 16px;
  }
  .navContainer .container {
    width: 95%;
  }
  nav {
    font-size: 18px;
    grid-template-columns: 1fr 4fr 0.5fr;
  }
  nav ul li {
    margin-right: 30px;
  }

  /* intro text styles */
  .introTextContainer {
    top: 20%;
  }
  .introTextContainer h1,
  #showCase {
    font-size: 40px;
  }
  .introTextContainer p {
    font-size: 18px;
    width: 75%;
  }
  .quickContactContainer {
    padding: 50px 0%;
  }
  .welcomeContentWrapper {
    top: 7.5%;
  }
  /* presentation section style */
  .presentation {
    width: 90%;
  }
  .presentationDescription {
    width: 60%;
    margin: auto;
    text-align: center;
  }
  .presentationDescription .heading2 {
    font-size: 30px !important;
  }
  .presentation .presentationDescription p {
    padding-top: 10px;
    width: 90%;
    margin: auto;
  }
  .presentation {
    display: block;
  }
  .block-2 {
    gap: 20px;
  }
  .videoBg,
  .descImg {
    height: 350px;
    margin-top: 50px;
  }
  /* reservations section style */

  .reservationsFormWrapper {
    width: 80%;
  }

  /* blogs style section */

  .blogsWrapper {
    padding: 5%;
  }

  /* employees style section */

  .meetContentWrapper {
    width: 90%;
  }
  .employeeContentWrapper {
    gap: 10px;
  }
  .contactContainer {
    width: 90%;
  }

  /* footer section style */

  footer {
    display: block;
    padding: 15px 0px;
  }
  footer div {
    margin: 15px;
  }
  footer .descriptionText2 {
    margin: 0px;
  }

  @media (max-width: 900px) {
    .quickServicesContainer {
      grid-template-columns: 1fr 1fr;
    }
    .quickServicesContent p {
      width: 80%;
      margin: auto;
    }

    @media (max-width: 850px) {
      nav {
        display: flex;
        justify-content: space-between;
      }
      .navigation {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        height: 100%;
        width: 100%;
      }
      .navigation .menuLinks {
        position: relative;
      }
      .navigation .closeBtn {
        display: block !important;
        position: absolute;
        top: 10px;
        right: 50px;
        font-size: 70px;
        transition: 0.5s all ease;
        z-index: 5;
      }
      .navigation .closeBtn:hover {
        color: var(--iconColor);
        cursor: pointer;
      }
      .navigation ul {
        flex-direction: column;
        width: 100%;
        font-size: 35px;
      }
      .navigation ul li {
        margin: 10px 0px;
      }
      .menuIcon {
        display: block !important;
      }
      .menuIcon {
        font-size: 40px;
        margin-left: 40px !important;
      }

      .employeeContentWrapper {
        grid-template-columns: 1fr 1fr;
      }
      /* insta section */

      .instaPostsContainer {
        display: block;
      }
      .grid-2,
      .grid-1 {
        margin: 10px 0px;
      }

      /* welcome style section */

      .welcomeContentWrapper {
        position: relative !important;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        height: 100%;
      }
      .welcomeContentWrapper h1 {
        font-size: 25px;
        margin-top: 0px;
      }
      .welcomeContentWrapper p {
        font-size: 20px;
      }
      .welcomeContentWrapper .descriptionText {
        width: 90%;
      }
      /* quick menu style section */
      .quickMenuItemsContainer {
        gap: 20px;
        grid-template-columns: 1fr;
        width: 70%;
        text-align: left;
      }
      .quickMenuItemWrapper * {
        margin: 5px 0px;
      }

      /* contact section */

      .formGrid {
        display: block;
      }
      .contactHeader {
        width: 80%;
      }
      .contactImage {
        height: 300px;
      }
      form {
        margin-top: 50px;
      }

      .menuItemsWrapper .menuItem {
        grid-template-columns: 1fr;
        gap: 10px;
      }
      .menuItemsWrapper .menuItem .menuImage {
        height: 250px;
      }
      .introTextContainer p {
        width: 90%;
      }
      .menuItemsWrapper .menuDetails {
        padding-left: 0px;
      }
      @media (max-width: 700px) {
        /* home section */
        /* .button button {
          padding : 12px;
          font-size: 15px;
        } */
        .presentationDescription .heading2 {
          font-size: 22px !important;
        }
        .introTextContainer * h1 {
          font-size: 6vw !important;
        }
        .descriptionText {
          font-size: 18px !important;
          line-height: 1.2em;
        }
        .descriptionText2 {
          font-size: 18px;
          line-height: 1.1em;
        }
        .homeSectionContainer {
          height: 700px;
        }
        /* quick contact section */
        .quickContactContainer {
          display: block;
          text-align: start;
          padding-left: 30px;
        }
        .quickContactContainer .icon {
          margin-right: 15px;
        }
        .quickContactContainer p {
          margin: 0px;
          width: 100%;
        }

        /* quick services section */

        .quickServicesContainer {
          display: block;
        }
        .quickServicesContent {
          margin: 20px;
        }
        /* welcome section */
        .welcomeContainer::before {
          /* i had to do this to zero out its effect bcuz, if i don't its already got an 
          absolute pos so, since welcomeContainer is taking a static pos now
          its just looks for the nearest relative element, which is the homepage(top section)
          and it clouds it up with darkness (we don't want that)*/
          position: static;
        }
        .welcomeContainer {
          display: block;
          position: static;
          height: 100%;
        }
        .welcomeLeft,
        .welcomeRight {
          height: 400px;
        }
        /* quick menu section */

        .quickMenuHeader {
          width: 90%;
        }
        .quickMenuItemWrapper {
          margin: 20px;
        }

        /* presentation section */

        .presentationDescription {
          width: 90%;
        }
        .block-2 {
          display: block;
        }

        /* reservations section style */
        .reservationHeader {
          width: 90%;
        }
        form .formGroup {
          display: block;
        }
        .formGroup div {
          margin-top: 10px;
        }

        /* blog section style */

        .blogs {
          display: block;
        }
        .blogs div {
          margin-top: 20px;
        }

        /* insta section  */
        .instaHeader p {
          width: 90%;
        }
        .grid-2,
        .grid-1 {
          display: block;
        }
        .split {
          display: block;
        }
        .split .iconFlat {
          padding: 7%;
        }
        .grid-1 div,
        .split div,
        .grid-2 div {
          margin-bottom: 20px;
        }

        /* employees section */

        .employeeContentWrapper {
          display: block;
          width: 80%;
          margin: auto;
        }
        .employeeContentWrapper .staffImage {
          height: 300px;
        }
        .menu .menuHeader {
          display: block;
          text-align: center;
        }
        .menuItemsWrapper .menuDetails * {
          margin: 3px 0px;
        }

        @media (max-width: 550px) {
          .menuItemsWrapper .menuItem {
            grid-template-columns: 1fr;
          }
          .menuItemsWrapper {
            grid-template-columns: 1fr;
          }
          .menuItemsWrapper .menuDetails {
            padding-left: 0px;
          }
          @media (max-width: 500px) {
            .homeSectionContainer {
              height: 500px;
            }
            .quickMenuItemsContainer {
              width: 90%;
            }
            @media (max-width: 450px) {
              .formGrid .quickContactLinks .qcl div p {
                display: block;
              }
              @media (max-width: 350px) {
                .homeSectionContainer .buttonContainer {
                  margin: 10px 0px;
                }
                .buttonContainer div button {
                  display: block;
                  margin: auto;
                  width: 80%;
                }
              } /*350*/
            } /*450*/
          } /*500*/
        } /*550*/
      } /*700*/
    } /*850*/
  } /*900*/
} /*1000*/
